/node_modules
/public/hot
/public/storage
/public/js
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
public/js/app.js
public/js/resources_js_components_departamentos_departamento_crear_vue.js
public/js/resources_js_components_departamentos_departamento_vue.js
public/js/resources_js_components_estado_estado_crear_vue.js
public/js/resources_js_components_estado_estado_vue.js
public/js/resources_js_components_evaluacion_tipo_evaluacion_crear_vue.js
public/js/resources_js_components_evaluacion_tipo_evaluacion_vue.js
public/js/resources_js_components_home_vue.js
public/js/resources_js_components_roles_rol_crear_vue.js
public/js/resources_js_components_roles_rol_vue.js
public/js/resources_js_components_tickets_ticket_crear_vue.js
public/js/resources_js_components_tickets_ticket_vue.js
public/js/app.js
public/js/app.js
public/mix-manifest.json
public/file/149071.png
public/js/app.js
public/js/resources_js_components_tickets_ticket_crear_vue.js
